<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ticket">
	<insert id="cardInsert" parameterType="vo">
		insert into card(consumerid, amount) 
		values(#{consumerid}, #{amount})
	</insert>
	<insert id="ticketInsert" parameterType="vo">
		insert into card(consumerid, countnum) 
		values(#{consumerid}, #{countnum})
	</insert>
	
</mapper>




