<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sp" class="com.ict.ex06.SetPrint">
		<property name="set1">
			<set>
				<value>100</value>
				<value>200</value>
				<value>300</value>
				<value>400</value>
				<value>500</value>
			</set>
		</property>
		<property name="set2">
			<set>
				<value>10001</value>
				<value>20001</value>
				<value>30001</value>
				<value>40001</value>
				<value>50001</value>
			</set>
		</property>
	</bean>
</beans>
