<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop_t">
	<select id="list" parameterType="String" resultType="vo">
		select * from shop_t where category = #{category} order by idx desc
	</select>
	<select id="onelist" parameterType="String" resultType="vo">
		select * from shop_t where idx = #{idx}
	</select>
	<select id="login" parameterType="com.ict.db.MVO" resultType="mvo">
		select * from members where m_id = #{m_id} and m_pw = #{m_pw} 
	</select>
	<insert id="add" parameterType="vo">
		insert into shop_t values(shop_seq.nextval, #{category}, #{p_num},#{p_name},#{p_company},#{p_price},#{p_saleprice},#{p_image_s},#{p_image_l},#{p_content},sysdate)
	</insert>
	
	<select id="p_cartlist" parameterType="Map" resultType="cvo">
		select * from cart where id=#{id} and p_num=#{p_num}
	</select>
	
	<insert id="cartInsert" parameterType="cvo">
		insert into cart values(cart_seq.nextval, #{p_num}, #{p_name},#{p_price},1,#{id})
	</insert>
	
	<update id="cartUpdate" parameterType="cvo">
		update cart set p_su = p_su + 1  where id=#{id} and p_num=#{p_num} 
	</update>
	
	<select id="cartall" parameterType="String" resultType="cvo">
		select * from cart where id = #{id}
	</select>
	<update id="cartup" parameterType="cvo">
		update cart set p_su=#{p_su} where id=#{id} and p_num=#{p_num}
	</update>
	<delete id="cartDel" parameterType="cvo">
		delete from cart where id=#{id} and p_num=#{p_num}
	</delete>
	<update id="cartEdit" parameterType="cvo">
		update cart set p_su=#{p_su} where id=#{id} and p_num=#{p_num}
	</update>
	<insert id="p_insert" parameterType="vo">
		insert into shop_t values(shop_seq.nextval, #{category}, #{p_num},
		#{p_name}, #{p_company}, #{p_price}, #{p_saleprice},
		#{p_image_s},#{p_image_l}, #{p_content}, sysdate)
	</insert>
</mapper>




